html#main-window {
	--color-bg: #1a1a21;
	--toolbar-bgcolor: var(--color-bg) !important;

/* 	--gap-between-tabs: 8px; */
	--margin-after-tab-list: 16px;
	--margin-before-tab-list: 16px;
	--tab-font: "JetBrains Mono", sans-serif;
/* 	--tab-height: 24px; */
/* 	--tabs-container-height: 84px; */

/* 	--urlbar-container-margin: 5px; */
/* 	--urlbar-list-width: 100%; */
	--urlbar-text-font: "JetBrains Mono", sans-serif;
/* 	--urlbar-text-size: 12px; */

	/* Firefox variables */
/* 	--lwt-toolbar-field-focus-color: #a1ffb6 !important; */
/* 	--lwt-toolbar-field-color: #fefefa !important; */
	--lwt-toolbar-field-background-color: var(--color-bg) !important;

	--arrowpanel-background: #272727 !important;
	--arrowpanel-color: white !important;
	--arrowpanel-border-color: transparent !important;
}

/* This positions the tabs under the navaigator container */
#titlebar {
	-moz-box-ordinal-group: 3 !important;
}

/* *******************************************************************
	Toolbar Elements
*/
.browser-toolbar {
	padding-left: 4px !important;
	padding-right: 4px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

/* Bookmarks bar tweaks */
#PlacesToolbar {
	align-items: center !important;
	display: flex !important;
	font-family: "JetBrains Mono", sans-serif !important;
	font-size: 12pt !important;
	justify-content: center !important;
}

/* Custom back and forward buttons */
#back-button {
	list-style-image: url("left-arrow.svg") !important;
	scale: 0.75;
}

#forward-button {
	list-style-image: url("right-arrow.svg") !important;
	scale: 0.75;
}

#reload-button {
	scale: 0.85;
}

#navigator-toolbox {
	--tabs-border-color: var(--color-bg) !important;
	background-color: var(--color-bg) !important;
	border: none !important;
	box-shadow: none !important;
	max-height: var(--tabs-container-height	) !important;
	min-height: var(--tabs-container-height	) !important;
}

/* *******************************************************************
	Urlbar
*/

/* Url bar suggestions list container */
.urlbarView {
	background-color: var(--color-bg) !important;
	border-radius: 0 8px 8px !important;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 35%) !important;
	box-shadow: none !important;
	margin: auto !important;
	width: var(--urlbar-list-width) !important;
}

/* Url bar suggestions' selected row */
.urlbarView:not(.megabar) .urlbarView-row:not([type="tip"])[selected],
.urlbarView.megabar .urlbarView-row:not([type="tip"])[selected] > .urlbarView-row-inner {
	background: #ffffff99 !important;
	color: #111 !important;
/* 	fill-opacity: 1; */
}

/* The text that says 'Search with ...' */
.urlbarView-action {
/* 	color: black !important; */
}

/* Url bar suggestions' row that is being hovered over */
.urlbarView-row:hover {
	background-color: none !important;
/* 	background-image: linear-gradient(77deg, #ffc386, #ff8989) !important; */
	color: white !important;
}

/* Text that says: This time, search with: */
#urlbar-one-offs-header-label {
	font-family: "JetBrains Mono", sans-serif !important;
	font-size: 1rem !important;
}

#urlbar-background,
#urlbar-container,
.urlbar-input-box {
	background-color: var(--color-bg) !important;
	background-image: none !important;
}

#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
	border: none !important;
	box-shadow: none !important;
}

/* Hacky way to make the url input bar centered */
input#urlbar-input {
	caret-color: transparent !important;
	font-family: var(--urlbar-text-font) !important;
	font-size: var(--urlbar-text-size) !important;
/* 	text-align: center !important;
	width: 99999px !important; */
}

.urlbarView-favicon,
.urlbar-history-dropmarker,
#star-button,
#identity-box {
	display: none !important;
}

#tracking-protection-icon-container,
#urlbar-search-button {
	background-color: none !important;
	background-image: none !important;
	border: none !important;
}

/* *******************************************************************
	Browser tabs
*/

#TabsToolbar {
/* 	padding-top: 8px !important; */
/* 	padding-bottom: 4px !important; */
}

.titlebar-spacer {
	width: 0px !important;
	border: none !important;
}

/* Hide some bloat */
/* .tab-close-button, */
.tab-line,
.tabbrowser-tab::before,
.tabbrowser-tab::after {
	display: none !important;
}

.tabbrowser-tab .tab-icon-image {
	filter: grayscale(20%) opacity(20%);
}

/* Regular browser tabs */
.tabbrowser-tab {
	background-color: none !important;
/* 	border-bottom: 2px solid #ffffff99 !important; */
/* 	border-radius: 2px !important; */
	box-sizing: border-box !important;
	color: #ffffff69 !important;
	margin-inline-end: var(--gap-between-tabs) !important;
	max-height: var(--tab-height) !important;
	min-height: var(--tab-height) !important;
}

.tabbrowser-tab:hover {
	background-color: none !important;
	border-color: #ffffffcc !important;
	color: #ffffffcc !important;
}

.tabbrowser-tab[selected="true"] {
/* 	background-color: #fff !important; */
	border-color: #fff !important;
	color: #fff !important;
	font-weight: var(--tab-font-weight) !important;
}

.tabbrowser-tab[selected="true"] .tab-icon-image {
	filter: opacity(80%);
}

.tab-content {
	background-color: none !important;
	background-image: none !important;
	font-family: var(--tab-font) !important;
	width: 100%;
}

/* pinned browser tabs */
/* TODO: Find a way to add spacing between the pinned tabs when tab list scrolling is triggered. Adding a margin just screws everything up */
.tabbrowser-tab:hover[pinned="true"] {
	background-color: transparent !important;
}

.tabbrowser-tab[pinned="true"][selected="true"] {
	background-color: #272727 !important;
}

.tabbrowser-tab[pinned="true"] {
	background-color: transparent !important;
	border: none !important;
	color: #1d1d1d !important;
/* 	max-width: var(--tab-height) !important; */
/* 	min-width: var(--tab-height) !important; */
}

.tabbrowser-tab[pinned="true"] .tab-icon-image {
	align-items: center !important;
	display: inline-block !important;
	min-height: var(--pinned-tab-favicon-dim) !important;
	min-width: var(--pinned-tab-favicon-dim) !important;
}

.tabbrowser-tab[pinned="true"] .tab-label-container {
	display: none !important;
}

.tab-stack {
	display: flex !important;
	justify-content: center !important;
}

/* Modify these values to tweak the start point of the tab list */
.tabbrowser-arrowscrollbox {
	margin-inline-start: var(--margin-before-tab-list) !important;
	margin-inline-end: var(--margin-after-tab-list) !important;
}

/* *******************************************************************
	Settings menu pop-up
*/
.panel-arrowbox {
	margin: 0 !important;
	display: none !important;
}

.panel-arrowcontent {
	opacity: 1 !important;
	margin: 0 !important;
}

